* {
    box-sizing: border-box;
}

body {
    --space: 2em;
    font: 0.875em/1.5 system-ui, sans-serif;
    margin: 0 auto;
    max-width: 120em;
    min-width: 50em;
}

body.unsupported {
    opacity: 2;
    pointer-events: none;
}

header {
    border-bottom: 1px solid #eee;
    padding: var(--space);
}

footer {
    position: fixed;
    bottom: 0;
    border-top: 1px solid #eee;
    padding: var(--space);
}

h1 {
    font-size: 3em;
    font-weight: 300;
    margin: 0;
}

h2 {
    font-size: 1.5em;
    font-weight: 500;
    margin: 0 0 1rem;
}

h2>em {
    font-weight: 400;
    color: #888;
    font-size: 0.8em;
}

a {
    color: hsl(210deg, 100%, 50%);
}

ol {
    margin: 0 0 1.5rem;
    padding: 0 0 1.5rem 1.25em;
    border-bottom: 1px solid #eee;
}

li {
    padding: 0.1em 0.5em;
}

code {
    font-family: Monaco, Menlo, monospace;
    font-size: 0.9em;
}

.instructions {
    font-size: 1rem;
}

main {
    padding: var(--space) var(--space) 0;
}

.config {
    margin-bottom: 1.5em
}

.table-container {
    overflow: auto;
    height: 36.5em;
    position: relative;
}

table {
    border-collapse: collapse;
    width: 100%;
}

thead {
    position: sticky;
    top: 0;
}

tr>th {
    background: linear-gradient(0deg, #666 0 1px, #fff 1px);
}

tr>* {
    text-align: left;
    padding: 0.2em 0;
}

tr>*+* {
    padding-left: 0.5em;
}

tr>.value {
    text-align: right;
}

.control {
    margin-bottom: 1.5em;
    overflow: hidden;
}

.range {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        'label label'
        'input input'
        'low   high';

    margin-bottom: 1.5em;
}

.range>label {
    font-weight: 600;
    font-size: 1.1em;
    grid-area: label;
    margin-bottom: 0.25em;
}

.range>label>code {
    font-family: Monaco, Menlo, monospace;
    display: inline-block;
    background: #0001;
    border-radius: 3px;
    padding: 0.1em 0.3em;
}

.range>label>em {
    font-weight: 400;
    color: #666;
}

.range>input {
    grid-area: input;
}

.range>span {
    color: #666;
    font-size: 0.9em;
    padding: 0 0.3em;
}

.range>.low {
    grid-area: low;
}

.range>.high {
    grid-area: high;
    text-align: right;
}

textarea {
    width: 100%;
    font-family: Monaco, Menlo, monospace;
    border: 1px solid #666;
    border-radius: 4px;
    padding: 0.5em;
}